

.title a:hover{
    color: #26A65B;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 .title ul li {
    display: inline-block;
    margin: 25px 0px 0px 42px;
    /* padding: 10px 45px 5px 5px; */
 }
 .title{
    display: flex;
    
 }
 .title a{
    font-size:  18px;
    top:10px;
    /* right: 20px; */
 margin: 0px px 12px 55px ; 
/* padding: 25px -5px 0px 0px ; */ 
 }
 
.texth3 h3 {
    
    margin: 20px;
    margin-left: 40px;
}
.texth3{
    display: flex;
    justify-content: space-between;
    position: relative;
}