*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
 
.header{
   height: 5vh;
   /* width: 90vw; */
   background-color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   /* border-bottom: 0.1px solid #efe6e6; */
}
.header a{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
  color: #7e7e7e;

}
/* .subnavbar{
    padding: 0 10px 0 10px;
    
} */
.rightheader a{
text-decoration: none;
color: white;
margin: 17px;
color: #7e7e7e;

}
/* .rightnavbar{
    padding: px;

} */
 .row{
    display: flex;
 }
.header-2{
    /* height: 5vh; */
   /* width: 90vw; */
   background-color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   /* border-bottom: 0.1px solid #efe6e6; */
}
.inputmain{
    margin-right: 6vw;
    margin-top: 4vh;
}
.inputmain input {
    margin-right: 2vw;
    margin-top: 4vh;
    margin-left: -19px;
}